.jss624 {
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  font-size: 16px;
  min-width: 33px;
  background: #fb4226;
  text-align: center;
  margin-right: 8px;
  border-radius: 4px;
}
.custom-width {
  width: 100px; /* or whatever width you want */
}
